.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.add-edit-form{
  justify-content: center;
  padding: 20px;
}

.invoice-tag{
  text-align: center;
}
.invoice-tag:nth-of-type(2n){
  background: rgba(245, 245, 245, 0.559);
}
.table-row{
  text-align: center;
}
.table-row:nth-of-type(2n){
  background: rgba(245, 245, 245, 0.559);
}